<!-- views/home.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee Subscription Service</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
            margin: 0;
            padding: 0;
            height: 100vh;
            background-image: url('https://www.roastycoffee.com/wp-content/uploads/devin-avery-rwwMB7kTNes-unsplash-scaled.jpg'); /* Replace 'background.jpg' with the path to your image */
            background-size: cover;
            background-position: bottom;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .container {
            text-align: center;
            background-color: rgba(255, 255, 255, 0.8); /* Add opacity to the container background */
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            margin-top: 0;
            font-size: 36px;
            color: #333;
        }

        p {
            font-size: 18px;
            color: #666;
            margin-bottom: 20px;
        }

        .buttons-container {
            display: flex;
            justify-content: center;
        }

        .btn {
            padding: 10px 20px;
            margin: 0 10px;
            font-size: 16px;
            color: #fff;
            background-color: #4CAF50;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .btn:hover {
            background-color: #45a049;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Welcome to the Coffee Subscription Service!</h1>
        <p>Discover your perfect coffee!</p>
        
        <!-- Add a button to navigate to preferences -->
        <div class="buttons-container">
            <a href="/preferences" class="btn">Get Started</a>
            <a href="/roasteries" class="btn">Roasteries</a>
        </div>
    </div>
</body>
</html>
