<!-- views/preferences.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee Preferences</title>
    <link rel="stylesheet" type="text/css" href="/css/preferences.css">
    <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
    <script src="/js/preferences.js" defer></script>


</head>
<body>
    <div class="container">
        
        <form data-multi-step class="multi-step-form" action="/preferences" method="POST">
            <div class="card" data-step>

                <div class="main-card">
                    <div class="head-title">
                        <h2 class="title">Ako si pripravuješ svoju kávu?</h2>
                        <a href="/" class="close"></a>
                    </div>
                    
                    <div class="options">
                        <label class="rad-label">
                            <input type="radio" class="rad-input" name="brewingMethod" id="brewingMethod" value="espresso" data-next>
                            <div class="rad-design"></div>
                            <div class="rad-text">Espresso</div>
                        </label>

                        <label class="rad-label">
                            <input type="radio" class="rad-input" name="brewingMethod" id="brewingMethod" value="filter" data-next>
                            <div class="rad-design"></div>
                            <div class="rad-text">Filtrovaná káva</div>
                        </label>

                        <label class="rad-label">
                            <input type="radio" class="rad-input" name="brewingMethod" id="brewingMethod" value="pods" data-next>
                            <div class="rad-design"></div>
                            <div class="rad-text">Kapsule</div>
                        </label>

                        <label class="rad-label">
                            <input type="radio" class="rad-input" name="brewingMethod" id="brewingMethod" value="cascara/tea" data-next>
                            <div class="rad-design"></div>
                            <div class="rad-text">Keď už tak cascara</div>
                        </label>
                    </div>

                    <div class="buttons">
                        <button type="button" class="click-next" data-next></button>
                    </div>
                    <!-- Progress bar -->
                    <div class="progress-bar">
                        <div class="progress-step" id="progress-step-1">Príprava</div>
                        <div class="progress-step">Praženie</div>
                        <div class="progress-step">Skúsenosť</div>
                        <div class="progress-step">Chuťový profil</div>
                        <div class="progress-step">Pôvod</div>
                        <div class="progress-step">Intenzita</div>
                    </div>
                </div>
                    
                    <div class="card-image-div">
                        <img src="/images/brewing.png" class="card-image">
                    </div>
            </div>

            <div class="card" data-step>
                <div class="head-title">
                    <h2 class="title">Aký stupeň praženia uprednostníš?</h2>
                    <a href="/" class="close"></a>
                </div>

                <div class="options">
                    <label class="rad-label">
                        <input type="radio" class="rad-input" name="roastLevel" id="roastLevel" value="light">
                        <div class="rad-design"></div>
                        <div class="rad-text">Svetlé</div>
                    </label>

                    <label class="rad-label">
                        <input type="radio" class="rad-input" name="roastLevel" id="roastLevel" value="medium">
                        <div class="rad-design"></div>
                        <div class="rad-text">Stredné</div>
                    </label>

                    <label class="rad-label">
                        <input type="radio" class="rad-input" name="roastLevel" id="roastLevel" value="dark">
                        <div class="rad-design"></div>
                        <div class="rad-text">Tmavé</div>
                    </label>

                    <label class="rad-label">
                        <input type="radio" class="rad-input" name="roastLevel" id="roastLevel" value="random">
                        <div class="rad-design"></div>
                        <div class="rad-text">Je mi to jedno</div>
                    </label>
                </div>

                <div class="buttons">
                    <button type="button" class="click-back" data-previous></button>
                    <button type="button" class="click-next" data-next></button>
                </div>
            </div>

            <div class="card" data-step>
                <div class="head-title">
                    <h2 class="title">Pochvaľ sa ako sa vyznáš v káve.</h2>
                    <a href="/" class="close"></a>
                </div>
                
                <div class="options">
                    <label class="rad-label">
                        <input type="radio" class="rad-input" name="coffeeExperienceLevel" id="coffeeExperienceLevel" value="newbie">
                        <div class="rad-design"></div>
                        <div class="rad-text">Nováčik</div>
                    </label>
                    <label class="rad-label">
                        <input type="radio" class="rad-input" name="coffeeExperienceLevel" id="coffeeExperienceLevel" value="intermediate">
                        <div class="rad-design"></div>
                        <div class="rad-text">Niečo už ovládam</div>
                    </label>
                    <label class="rad-label">
                        <input type="radio" class="rad-input" name="coffeeExperienceLevel" id="coffeeExperienceLevel" value="advanced">
                        <div class="rad-design"></div>
                        <div class="rad-text">Pokročilý</div>
                    </label>
                    <label class="rad-label">
                        <input type="radio" class="rad-input" name="coffeeExperienceLevel" id="coffeeExperienceLevel" value="nerd">
                        <div class="rad-design"></div>
                        <div class="rad-text">Nerd</div>
                    </label>
                </div>
                <div class="buttons">
                    <button type="button" class="click-back" data-previous></button>
                    <button type="button" class="click-next" data-next></button>
                </div>
            </div>

            <div class="card" data-step>
                <div class="head-title">
                    <div>
                        <h2 class="title">Aké chute máš najradšej? Alebo radšej objavuješ?</h2>
                        <h3 class="sub-title">Kľudne si vyber viacero možností.</h3>
                    </div>
                    <a href="/" class="close"></a>
                </div>

                <div class="options">
                    <label class="rad-label">
                        <input type="checkbox" class="rad-input" name="flavorProfile" id="flavorProfile" value="regular/classic">
                        <div class="rad-design"></div>
                        <div class="rad-text">Chcem takú chuť akú má káva</div>
                    </label>
                    <label class="rad-label">
                        <input type="checkbox" class="rad-input" name="flavorProfile" id="flavorProfile" value="fruity">
                        <div class="rad-design"></div>
                        <div class="rad-text">Ovocie, ovocie a ovocie</div>
                    </label>
                    <label class="rad-label">
                        <input type="checkbox" class="rad-input" name="flavorProfile" id="flavorProfile" value="chocolate/sweet">
                        <div class="rad-design"></div>
                        <div class="rad-text">Sladké ako čokoláda</div>
                    </label>
                    <label class="rad-label">
                        <input type="checkbox" class="rad-input" name="flavorProfile" id="flavorProfile" value="acid">
                        <div class="rad-design"></div>
                        <div class="rad-text">Hlavne nech je to kyslé</div>
                    </label>
                    <label class="rad-label">
                        <input type="checkbox" class="rad-input" name="flavorProfile" id="flavorProfile" value="random">
                        <div class="rad-design"></div>
                        <div class="rad-text">Prekvap ma, chcem experimentovať</div>
                    </label>
                </div>
                <div class="buttons">
                    <button type="button" class="click-back" data-previous></button>
                    <button type="button" class="click-next" data-next></button>
                </div>
            </div>

            <div class="card" data-step>
                <div class="head-title">
                    <div>
                        <h2 class="title">Na pôvode kávy záleži.</h2>
                        <h3 class="sub-title">Kľudne si vyber viacero možností.</h3>
                    </div>
                    <a href="/" class="close"></a>
                </div>
                
                <div class="options">
                    <label class="rad-label">
                        <input type="checkbox" class="rad-input" name="origin" id="origin" value="africa">
                        <div class="rad-design"></div>
                        <div class="rad-text">Afrika</div>
                    </label>
                    <label class="rad-label">
                        <input type="checkbox" class="rad-input" name="origin" id="origin" value="south america">
                        <div class="rad-design"></div>
                        <div class="rad-text">Južná amerika</div>
                    </label>
                    <label class="rad-label">
                        <input type="checkbox" class="rad-input" name="origin" id="origin" value="central america">
                        <div class="rad-design"></div>
                        <div class="rad-text">Stredná amerika</div>
                    </label>
                    <label class="rad-label">
                        <input type="checkbox" class="rad-input" name="origin" id="origin" value="asia">
                        <div class="rad-design"></div>
                        <div class="rad-text">Ázia</div>
                    </label>
                    <label class="rad-label">
                        <input type="checkbox" class="rad-input" name="origin" id="origin" value="random">
                        <div class="rad-design"></div>
                        <div class="rad-text">Necham sa prekvapiť</div>
                    </label>
                </div>
                <div class="buttons">
                    <button type="button" class="click-back" data-previous></button>
                    <button type="button" class="click-next" data-next></button>
                </div>
            </div>

            <div class="card" data-step>
                <div class="head-title">
                    <div>
                        <h2 class="title">Vyváženosť a intezita chute je dôležitá.</h2>
                        <h3 class="title">Ako by mala chutiť tvoja káva?</h3>
                    </div>
                    <a href="/" class="close"></a>
                </div>

                <div class="options">
                    <label class="rad-label">
                        <input type="radio" class="rad-input" name="intensity" id="intensity" value="mild">
                        <div class="rad-design"></div>
                        <div class="rad-text">Jemná</div>
                    </label>
                    <label class="rad-label">
                        <input type="radio" class="rad-input" name="intensity" id="intensity" value="balanced">
                        <div class="rad-design"></div>
                        <div class="rad-text">Vyvážena</div>
                    </label>
                    <label class="rad-label">
                        <input type="radio" class="rad-input" name="intensity" id="intensity" value="bold">
                        <div class="rad-design"></div>
                        <div class="rad-text">Intenzívna</div>
                    </label>
                    <label class="rad-label">
                        <input type="radio" class="rad-input" name="intensity" id="intensity" value="random">
                        <div class="rad-design"></div>
                        <div class="rad-text">Na intenzite mi vôbec nezáleží</div>
                    </label>
                </div>
                <div class="buttons">
                    <button type="button" class="click-back" data-previous></button>
                    <button type="button" class="click-next" data-next></button>
                </div>
            </div>

            <div class="card" data-step>
                <div class="head-title">
                    <h2 class="title">Posledná dôležitá vec: kofeín.</h2>
                    <a href="/" class="close"></a>
                </div>
                
                <div class="options">
                    <label class="rad-label">
                        <input type="radio" class="rad-input" name="coffeeType" id="coffeeType" value="regular">
                        <div class="rad-design"></div>
                        <div class="rad-text">Regular</div>
                    </label>
                    <label class="rad-label">
                        <input type="radio" class="rad-input" name="coffeeType" id="coffeeType" value="decaf">
                        <div class="rad-design"></div>
                        <div class="rad-text">Decaf</div>
                    </label>
                </div>

                <h3 class="title">Aké zrná si praješ doručiť?</h3>
                <div class="options">
                    <label class="rad-label">
                        <input type="radio" class="rad-input" name="grinding" id="grinding" value="beans">
                        <div class="rad-design"></div>
                        <div class="rad-text">Celé zrná</div>
                    </label>
                    <label class="rad-label">
                        <input type="radio" class="rad-input" name="grinding" id="grinding" value="grinded">
                        <div class="rad-design"></div>
                        <div class="rad-text">Pomleté zrná</div>
                    </label>
                </div>
                <div class="buttons">
                    <button type="button" class="click-back" data-previous></button>
                    <button type="submit">Submit Preferences</button>
                </div>
            </div>

            
        </form>
    </div>

</body>
</html>