/* public/css/preferences.css */

body {
    font-family: 'Quicksand';
    background-color: #f8f8f8;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    overflow: hidden; /* Changed to hidden to avoid scrollbars */
}
.container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    overflow: hidden; /* Changed to hidden to avoid scrollbars */
}
.card {
    background-color: rgb(223, 212, 212);
    max-width: 100%;
    /*margin: 0 auto;*/
    animation: fade 250ms ease-in-out forwards;
    width: 100%;
    height: 100%;
    background:rgba(255,255,255,0.5);
    display: none;
    top: 0;
    left: 0;
}
.top-label {
    display: flex;
    flex-direction: row;
    height: 10vh; /* 10% of viewport height */
    justify-content: space-between;
    width: 100%;
    background-color: white; /* Example background color */
    font-size: 1.2rem;
    border-bottom: 0.4px solid black
}
.main-content {
    display: flex;
    flex-direction: row-reverse;
    flex-grow: 1; /* Ensures this fills the remaining height after top-label */
    width: 100%;
    height: 90vh;
}
.main-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(223, 212, 212);
    width: 50%;
    height: 90vh;
    background:rgba(255,255,255,0.5);
}
.card-image-div {
    width: 50%;
    height: 90vh;
    background-color: #fff; /* Example background color */
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-image{
    width: 100%;
    height: auto;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
    gap: .25em;
}

.form-group:last-child {
    margin: 0;
}

.form-group > label {
    font-weight: bold;
    font-size: .8em;
}

.form-group > input {
    border-radius: .25em;
    font-size: 1rem;
    padding: .25em;
}

.step-title {
    margin: 0;
    margin-bottom: 1rem;
    text-align: center;
}

.card.active {
    animation: slide 250ms 125ms ease-in-out both;
    background:rgba(255,255,255,0.5);
    display: flex;
    
    width: 100vw; /* 100% of viewport width */
    height: 90vh; /* 90% of viewport height */
}

.multi-step-form {
    overflow: hidden;
    height: 90vh;
}

.hide {
    display: none;
}

.options{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3vh;
}

.progress-bar{
    position: relative;
    display: flex;
    justify-content: center;
    padding: 3vh;
    width: 100%;
}
.progress-step{
    padding: .4vh;
    font-size: medium;
    color: grey;
    padding-left: 1vh;
    padding-right: 1vh;
}


/* Radio buttons */
.rad-label {
    display: flex;
    align-items: center;

    border-radius: 100px;
    padding: 14px 16px;
    margin: 10px 0;
    width: 30%;

    cursor: pointer;
    transition: .3s;
}

.rad-label:hover,
.rad-label:focus-within {
    background: #EDF5FC;
}

.rad-input {
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 1px;
    opacity: 0;
    z-index: -1;
}

.rad-design {
    width: 22px;
    height: 22px;
    border-radius: 100px;
    background: linear-gradient(to right bottom, hsl(160, 5%, 88%), #B22E5B);
    position: relative;
}

.rad-design::before {
    content: '';

    display: inline-block;
    width: inherit;
    height: inherit;
    border-radius: inherit;

    background: hsl(0, 0%, 90%);
    transform: scale(1.1);
    transition: .3s;
}

.rad-input:checked+.rad-design::before {
    transform: scale(0);
}

.rad-text {
    color: hsl(0, 0%, 60%);
    margin-left: 14px;
    letter-spacing: 3px;
    font-size: 18px;
    font-weight: 1100;
    transition: .3s;
}

.rad-input:checked~.rad-text {
    color: hsl(0, 0%, 40%);
    font-weight: bold;
}

.title{
    font-size: 200;
    font-weight: bold; 
    padding-left: 3rem;
    text-align: center;
}

.sub-title{
    text-align: center;
    padding-left: 3rem;
}

.head-title{
    display: flex;
    justify-content: space-between;
}

.active-progress {
    border: solid #B8C5D6;
    border-radius: 30px;
    /* Add other styles specific to the active progress step */
}

.button-back {
    background-color: transparent; /* Make background transparent */
    border: none; /* Remove default button borders */
    padding: 8px; /* Add padding for click area */
    cursor: pointer; /* Change cursor to pointer on hover */
    display: inline-flex; /* Align the SVG properly */
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease-in-out; /* Add a smooth transition effect */
    padding-left: 4vh;
}

/* Hover and active effects */
.button-back:hover {
    transform: scale(1.1); /* Slightly scale the button on hover */
}

.button-back:active {
    transform: scale(0.9); /* Shrink the button on click */
}

.button-back svg {
    width: 55px;
    height: 55px;
    fill: none;
    stroke: currentColor; /* Set the stroke color */
}

.button-close {
    background-color: transparent; /* Make background transparent */
    border: none; /* Remove default button borders */
    padding: 8px; /* Add padding for click area */
    cursor: pointer; /* Change cursor to pointer on hover */
    display: inline-flex; /* Align the SVG properly */
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease-in-out; /* Add a smooth transition effect */
    padding-right: 4vh;
}

/* Hover and active effects */
.button-close:hover {
    transform: scale(1.1); /* Slightly scale the button on hover */
}

.button-close:active {
    transform: scale(0.9); /* Shrink the button on click */
}

.button-close svg {
    width: 55px;
    height: 55px;
    fill: none;
    stroke: currentColor; /* Set the stroke color */
}

/* CSS */
.click-next {
  appearance: none;
  font-family: 'Quicksand';
  background-color: transparent;
  border: 2px solid #963b59;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 40%;
  height: 5vh;
  will-change: transform;
}

.click-next:hover {
  color: #fff;
  background: linear-gradient(to right bottom, hsl(160, 5%, 88%), #B22E5B);
  border-width: 0px;
  
}

.click-next:active {
  box-shadow: none;
  transform: translateY(0);
}

.click-next:disabled {
    background-color: #ccc;   /* Grey background for disabled state */
    cursor: not-allowed;      /* Show "not allowed" cursor */
    border-width: 0px;
    pointer-events: none;
}